.cart-icon {
  width: 4rem;
  height: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .item-count {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    bottom: .6rem;
  }
}