.header {
	// height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// padding: 25px;
	margin-bottom: 25px;

	.logo-container {
		// height: 100%;
		width: auto;
	}

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 2rem;

		.option {
			font-size: 1.6rem;
			cursor: pointer;
			// padding: 10px 15px;
		}
	}
}
