.custom-button {
	min-width: 16.7rem;
	width: auto;
	letter-spacing: 0.5px;
	padding: 1.5rem 2rem;
	text-align: center;
	font-size: 13px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: bolder;
	border: none;
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		background-color: white;
		color: black;
		border: 1px solid black;
	}

	&.google-sign-in {
		background-color: #4285f4;
		color: #fff;

		&:hover {
			background-color: #2255a7;
			border: none;
		}
	}
}
